* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #58839b;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  font-family: "Roboto", sans-serif;
}

main {
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #FFFFff;
}

input {
  width: 100%;
  height: 31px;
  max-width: 300px;
  max-height: 35px;
  padding-left: 15px;
  margin-top: 20px;
  background-color: transparent;
  color: #FFFFFF;
  outline: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #FFFFFF;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.6875rem;
}

input::placeholder {
  color: #FFFFff;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button[type=button] {
  height: auto;
  padding: 4px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1 solid #333333;
  background-color: #00ffff;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.header__index {
  width: 100%;
  height: 20vh;
  position: relative;
  padding-top: 50px;
  background-color: aqua;
  margin-bottom: 230px;
}
.header__index h1 {
  text-align: center;
  top: 45px;
  font-family: "Roboto", sans-serif;
}
.header__index img {
  position: absolute;
  top: calc(50% + 20px);
  left: calc(50% - 16vh);
  width: 40vh;
  max-width: 390px;
}

.calculators {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  margin-bottom: 70px;
}
.calculators__box {
  display: flex;
  justify-content: center;
  justify-self: center;
  width: 100%;
  height: 60vh;
  max-width: 300px;
  max-height: 400px;
  border: 1px solid #FFFFff;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 22px -6px #141414;
  box-shadow: 10px 10px 22px -6px #141414;
  background-color: rgba(102, 255, 247, 0.09);
}
.calculators__box a {
  text-decoration: none;
}
.calculators__box p {
  padding: 5px;
  text-align: center;
  color: #FFFFff;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 2.25rem;
}
.calculators__box img {
  width: 100%;
  height: 60%;
  margin-bottom: 20px;
  border-radius: 20px 20px 0px 0px;
  background-color: rgba(255, 255, 255, 0.8);
}
.calculators__box:hover {
  transform: scale(1.08);
}
.calculators__box:active {
  transform: scale(1);
}

.header__figuras {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.header__figuras h1 {
  padding-top: 30px;
  text-align: center;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 2.625rem;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  font-weight: 700;
}
.header__figuras nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__figuras .textContainer {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.875rem;
}
.header__figuras .buttonContainer {
  padding: 10px 15px;
}

.formulariosContainer {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  justify-items: center;
  margin-top: 50px;
}

.formularios {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 20px;
}
.formularios h2 {
  text-align: center;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 2.0625rem;
  font-family: "Roboto", sans-serif;
}
.formularios form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px 15px;
}
.formularios form label {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.6875rem;
}

.formularios.formularios__cuadrado {
  display: flex;
}

.cuadrado {
  width: 100px;
  height: 100px;
  background: #00ffff;
}

.trianguloE {
  display: none;
  width: 0;
  height: 0;
  border-right: 100px solid transparent;
  border-top: 100px solid transparent;
  border-left: 100px solid transparent;
  border-bottom: 100px solid #00ffff;
}

.trianguloI {
  display: none;
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 150px solid #00ffff;
}

.circulo {
  display: none;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #00ffff;
}

.resultados {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.header-descuentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}
.header-descuentos h1 {
  padding: 20px;
  text-align: center;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 2.625rem;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  font-weight: 700;
}
.header-descuentos a {
  margin-bottom: 20px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 2.0625rem;
}

.main-descuentos section {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  justify-items: center;
  align-items: center;
}
.main-descuentos section p {
  margin: 30px;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}
.formulario button[type=button] {
  width: 50%;
  align-self: center;
}

.header-mediana {
  text-align: center;
}
.header-mediana h1 {
  padding-top: 30px;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 2.625rem;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  font-weight: 700;
}
.header-mediana a {
  padding-top: 20px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 2.0625rem;
}

.formulario-mediana {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.formulario-mediana label {
  margin-top: 20px;
  text-align: center;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 2.0625rem;
}

.main-mediana section {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  justify-items: center;
}

p {
  padding: 40px 0;
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.header-moda {
  text-align: center;
}
.header-moda h1 {
  padding-top: 30px;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 2.625rem;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  font-weight: 700;
}
.header-moda a {
  padding-top: 20px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 2.0625rem;
}

.formulario-moda {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.formulario-moda label {
  margin-top: 20px;
  text-align: center;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 2.0625rem;
}

.main-moda section {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  justify-items: center;
}

p {
  padding: 40px 0;
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.header-promedio {
  text-align: center;
}
.header-promedio h1 {
  padding-top: 30px;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 2.625rem;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  font-weight: 700;
}
.header-promedio a {
  padding-top: 20px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 2.0625rem;
}

.formulario-promedio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.formulario-promedio label {
  margin-top: 20px;
  text-align: center;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 2.0625rem;
}

.main-promedio section {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  justify-items: center;
}

p {
  padding: 40px 0;
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.header-salarios {
  text-align: center;
}
.header-salarios h1 {
  padding-top: 30px;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 2.625rem;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  font-weight: 700;
}
.header-salarios a {
  padding-top: 20px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 2.0625rem;
}

.formulario-salarios {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.formulario-salarios label {
  margin-top: 20px;
  text-align: center;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 2.0625rem;
}

.formulario__input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-salarios section {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  justify-items: center;
}

p {
  padding: 40px 0;
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

/*# sourceMappingURL=styles.css.map */
