.header-descuentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    h1 {
        padding: 20px;
        text-align: center;
        @include font-size(28px);
        @include titulos($Fuente2);
    }
    a {
        margin-bottom: 20px;
        @include font-size(22px);
    }
}

.main-descuentos section {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    justify-items: center;
    align-items: center;

    p{
        margin: 30px;
        @include font-size(20px);
    }
    
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    button[type="button"]{
        width: 50%;
        align-self: center;
    }
}