.header__figuras {
    width: 100%;
    height: auto;
    margin: 0 auto;
    h1 {
        padding-top: 30px;
        text-align: center;
        @include font-size(28px);
        @include titulos($Fuente2);
    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .textContainer {
        width: 100%;
        max-width: 600px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        @include font-size(20px);
    }
    .buttonContainer {
        padding: 10px 15px;
        
    }

}

.formulariosContainer {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    justify-items: center;
    margin-top: 50px;
}

.formularios {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 20px;
    h2 {
        text-align: center;
        @include font-size(22px);
        @include titulos($Fuente1);
    }
    form {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 10px 15px;
        label{
            @include font-size(18px);
        }
    }
    

}

.formularios.formularios__cuadrado {
    display: flex;
}

.cuadrado{
    width: 100px; 
    height: 100px; 
    background: $color-secundario;
}
.trianguloE {
    display: none;
    width: 0;
    height: 0;
    border-right: 100px solid transparent;
    border-top: 100px solid transparent;
    border-left: 100px solid transparent;
    border-bottom: 100px solid $color-secundario;
}

.trianguloI {
    display: none;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 150px solid $color-secundario;
}
.circulo {
    display: none;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: $color-secundario;
}

.resultados {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}