$Fuente1: 'Roboto', sans-serif;
$Fuente2: 'Roboto Slab', serif;
$color-fuente: #333333;
$color-primario: #b163ff;
$color-claro: #FFFFff;
$color-secundario: #00ffff;

@use 'sass:math';

@function calculateRem($size){
	$remSize: math.div($size, 16px);
	@return $remSize * 1rem;
}

@mixin font-size($size) {
	font-size: $size;
	font-size: calculateRem($size);
	line-height: calculateRem($size)*1.5;	
}

@mixin titulos($fuente) {
	@if $fuente ==$Fuente1 {
		font-family: $Fuente1;
	} @else {
		font-family: $Fuente2;
		text-transform: uppercase;
		font-weight: 700;
	}
}

@mixin imputFormulario {
    width: 100%;
	height: 31px;
	max-width: 300px;
    max-height: 35px;
	padding-left: 15px;
	margin-top: 20px;
    background-color: transparent;
    color: #FFFFFF;
    outline: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #FFFFFF;
	@include font-size(18px);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #58839b;
    @include font-size(18px);
    @include titulos($Fuente1);
}

main {
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
}
a {
    text-decoration: none;
    color: #000000;
}
a:hover {
    color: $color-claro;
}

input {
    @include imputFormulario;
}

input::placeholder {

    color: $color-claro;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] { 
    -moz-appearance:textfield;
}

button[type=button]{
    height: auto;
    padding: 4px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1 solid $color-fuente;
    background-color: $color-secundario;
    @include font-size(12px);
}

